<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LaunchArt</key>
	<dict>
		<key>Name</key>
		<string>Desert Wizard</string>
		<key>Artist</key>
		<string>Johan Jaeger</string>
		<key>Liscense</key>
		<string>Creative Commons Attribution-Share Alike 3.0 License</string>
		<key>Source</key>
		<string>http://johanjaeger.deviantart.com/art/Desert-wizard-267947314</string>
	</dict>
	<key>AppIcon</key>
	<dict>
		<key>Name</key>
		<string>Desert Wizard</string>
		<key>Artist</key>
		<string>Johan Jaeger</string>
		<key>Liscense</key>
		<string>Creative Commons Attribution-Share Alike 3.0 License</string>
		<key>Source</key>
		<string>http://johanjaeger.deviantart.com/art/Desert-wizard-267947314</string>
	</dict>
</dict>
</plist>
